# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
bin/
lib64/*
lib/*
bin/*
.venv/*


# Backup files #
*.bak

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
.Python build/
eggs/
.eggs/
lib/
lib64/
sdist/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

# Local SQLite test database
test.db.sqlite3

# Docker / deployment
.env.docker
staticfiles/
media/
